<div class="d-flex align-items-center justify-content-center">
  <h1> Telos Bookstore</h1>

  <% if @client %>
    Logged in as client: <%= @client.name %>
    Total funds: $<%= @client.funds %>
  <% end %>

  <% if @seller %>
    Logged in as seller: <%= @seller.name %>
    Total earnings: $<%= @seller.earnings %>
  <% end %>
</div>
